# APIs
VALORANT_API_URL="https://valorant-api.com/v1/weapons"
API_URL=http://localhost:8000

# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/valorant_wishlist

# JWT
AUTH_SECRET_KEY=at-least-32-character-very-secure-secret-key-here
AUTH_ALGORITHM=HS256
AUTH_TOKEN_EXPIRE_MINUTES=15
